/* OVERALL */

:root {
    --text: #17130f;
    --background: #f9f6f4;
    --primary: #b58153;
    --secondary: #dab493;
    --accent: #d69861;
    --textWhite: #fff;


}
    

body {
    background-color: var(--background);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

.section_btn {
    background-color: var(--primary);
    color: var(--text);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
    
}

.section_btn:hover {
    background-color: var(--secondary);
    color: var(--text);
    transition: 0.3s;
    
}


/* NAVBAR RESPONSIVE */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    padding: 15px;
    color: var(--text);
    font-weight: bold;
    
}

.logo {
    font-size: 1.5em;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 15px;
}

.menu a {
    color: var(--text);
    text-decoration: none;
    padding: 10px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 6px 0;
    display: block;
}

.menu a:hover {
    color: var(--secondary);
}

/* .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;

} */


@media screen and (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 60px;
        left: 0;
        background-color:var(--primary);
        z-index: 1;
        animation: fadeIn 0.5s ease-in-out;
    }

    .menu a  {
        color: var(--text);
        width: 100%;
        display: block;
        padding: 15px;
        box-sizing: border-box;
        font-weight: bold;
    }

    .menu-toggle {
        display: flex;
    }
}

/* Definimos la animación */


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}


/* HERO */

.hero_section { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 0;

}

.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translate(0px, -200px);
    
}

.btn {
    background-color: var(--accent);
    color: var(--text);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--secondary);
}

.container h1 {
    font-size: 3em;
    margin-bottom: 10px;
    
    
}

.container h1 {
    font-size: 3em;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;

}

.container p {
    font-size: 1.4em;
    margin-bottom: 20px;
    font-weight: 500;
    color: var(--text);
    font-family: 'Poppins', sans-serif;
    
}

.bg_image {
    background-image: url("https://images.pexels.com/photos/8853499/pexels-photo-8853499.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    animation: fadeInBg 0.9s ease-in-out;
}


@keyframes fadeInBg {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
} 



/* about us */


.info_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.text_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    padding-right: 20px;
    animation: alternateIn 0.8s ease-in-out;
}

.text_container h3 {
    font-size: 32px;
    margin-bottom: 10px;
    color: var(--text);
    text-align: center;
}

.text_container p {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--text);
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;

}


.image_container {
    flex: 1;
    text-align: center;
    animation: alternateIn 0.8s ease-in-out;
}

.image_container img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    animation: alternateIn 0.8s ease-in-out;

}

@keyframes alternateIn {
    from {
        opacity: 0;
        transform: translateX(-550px);

    }   
    to {
        
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes alternateInReverse {
    from {
        opacity: 0;
        transform: translateX(1500px);

    }   
    to {
        
        opacity: 1;
        transform: translateX(0px);
    }
}


@media (max-width: 768px) {
    .info_container {
        flex-direction: column;
        align-items: center;

    }

    .text_container, .image_container {
        width: 100%;
        text-align: center;
        flex: 1;
    }

}


/* SERVICES */


.services img {
    animation: alternateInReverse 0.8s ease-in-out;

}



/* FOOTER */

.footer-container {
    background-color: var( --primary);
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
    
}

.footer {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

}

.footer-heading {
    margin-bottom: 10px;
    font-weight: bold;
    flex: 1;
  
}

.footer-1, .footer-2, .footer-3 {
    flex: 1;
    margin-right: 20px;
    display: flex;
    flex-direction: column;


}

.footer a {
    color: var(--textWhite);
    text-decoration: none;
    padding: 10px;
    font-family: 'Poppins', sans-serif;

}

.footer a:hover {
    color: var(--accent);

}


/* CONTACT */

.contact {
    margin-bottom: 15px;

}

.header_h1 {
    text-align: center;

}


/* Form */

.form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--secondary);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: alternateIn 0.8s ease-in-out;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 150px;

}

.submit_btn {
    background-color: var(--accent);   
    color: var(--textWhite);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin-top: 10px;

}