<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/hero.css">
    <title>Document</title>
</head>
<body>
    <section class="about_section" id="Hero">
        <div class="bg_image"></div>
        <div class="container">
            <h1>TerraForma</h1>
            <p>At TerraForma we believe in sustainable, responsible and fair construction for both the client and the environment.</p>
            <p>Our mission is to build a better future for everyone.</p>
        </div>
    </section>
</body>
</html>